.Boxcontainer {
    border: 0;
    border-radius: 8px;
    width: 17rem;
    height: auto;
    margin: 2rem auto;
    text-align: center;
    background: white;
    box-shadow: 0px 0px 8px 1px rgb(214, 214, 214);
}

.Boxheader {
    margin: 9rem 0 1rem 0;
    font-size: 2.6rem;
    color: green;
    text-align: center;
}

#jobs {
    display: grid;
    grid-template-columns: auto auto auto;
}

.imageBox {
    position: relative;
}

.imageBox .dayCount {
    position: absolute;
    top: 3%;
    left: 3%;
    background-color: rgb(240, 237, 237);
    padding: 0.4rem 0.5rem;
    color: rgb(59, 58, 58);
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.imageBox .goalStatus {
    position: absolute;
    bottom: 4%;
    right: 1%;
    color: white;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: green;
    padding: 0.5rem 0.7rem;
    font-size: 1.1rem;
}

img {
    width: 100%;
    height: 13rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

input[type="button"] {
    margin: 1rem;
    width: 10rem;
    border: 0;
    font-size: 1.1rem;
    background-color: rgb(218, 98, 68);
    color: white;
    padding: 0.5rem 0;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer .box {
    background-color: rgb(189, 174, 174);
    width: 33.34%;
    padding: 0.5rem 0;
    border: 1px solid white;
}

.box h3 {
    color: rgb(62, 61, 61);
}

.box p {
    color: rgb(65, 52, 52);
}