.resetContainer {
    width: 30rem;
    padding: 2rem 0;
    text-align: center;
    width: 38%;
    border-radius: 10px;
    background: white;
    padding: 1rem 2rem;
    position: absolute;
    top: 24%;
    left: 29%;
    box-shadow: 0rem 0rem 0.2rem 0rem rgb(220, 220, 220), 0rem 0rem 0.2rem 0rem rgb(220, 220, 220), 0rem 0.1rem 1rem 0rem rgb(234, 234, 234), 0rem -0.1rem 1rem 0rem rgb(234, 234, 234);
}

.resetContainer .resetBtn button {
    background-color: #076df3;
    color: white;
    font-size: 1.1rem;
    margin-top: 0.8rem;
    width: 18rem;
}

.resetContainer .resetBtn button:hover {
    background: #0156c6;
}

.resetContainer .horizontal_ruler {
    margin: 0;
}

.resetContent {
    background-color: rgb(225, 224, 224);
    height: 100vh;
}

.resetContainer h3 {
    text-align: start;
    margin: 0rem 0rem 0rem 1rem;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    color: rgb(100, 100, 232);
}

.resetOldpass input,
.resetNewpass input,
.Confirmpass input {
    height: 2.6rem;
    margin: 0 0 0.5rem 0;
}